.overlay::after {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  inset: 0; /* shorthand for top: 0, right: 0, bottom: 0, left: 0 */
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 10;
  border-radius: inherit; /* To maintain the parent's border radius */
}

.heroTitle {
  width: 647px;
  font-family: DMSans;
  font-size: 80px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -2px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
}

.heroDesc {
  width: 562px;
  font-family: JetBrainsMono;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 420px;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip {
  position: relative; /* Position relative to the button */
  /* Other styles for the button if needed */
}

.tooltip:hover .tooltip_text {
  visibility: visible;
  opacity: 1;
}

.tooltip_text {
  visibility: hidden;
  width: auto; /* Adjust width as necessary */
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 13px;

  font-family: JetBrainsMono;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  text-wrap: nowrap;

  /* Position the tooltip above the button */
  position: absolute;
  z-index: 1;
  bottom: 130%; /* Position it above the button */
  left: 50%;
  margin-bottom: 10px; /* Distance from the button */

  /* Making tooltip appear with fade effect */
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s, transform 0.3s ease-in-out;
}

/* Tooltip arrow */
.tooltip_text::after {
  content: "";
  position: absolute;
  top: 100%; /* Position at the bottom of the tooltip content */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
